$jacq-color: rgb(93, 159, 48);
.bg-jacq {
  background-color: $jacq-color;
}

$pladias-color: #4d5944;
.bg-pladias {
  background-color: $pladias-color;
}

$dwc-color: #043B58;
.bg-dwc {
  background-color: $dwc-color;
}

$conversion-color: #bdae1f;
.bg-conversion {
  background-color: $conversion-color;
}

$print-color: #379bc8;
.bg-print {
  background-color: $print-color;
}